{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} {{ game.name }}{% endblock title %}

{% block content %}
<section class="game-section">
    <h1>
        {{ game.name }}
        <span class="star-icon {% if is_favorited %}active{% endif %}" data-game-id="{{ game.id }}">★</span>
    </h1>
    <img src="{{ game.box_art_url }}" alt="{{ game.name }}">
    <div class="who_is_streaming">
        {% if streams %}
        <div class="pdata center-row">
            <h2 class="subtitles">
                Past 30 day Activity
                <span class="info-from-icon"><a href="https://www.twitchtracker.com/games/{{ game.game_id }}" target="_blank">
                    ⓘ
                    <span class="info-from-text">Data sourced from TwitchTracker.com</span>
                </a>
                </span>
            </h2>
            <ul>
                {% for key, value in updated_pdata.items %}
                <li class="text-label">{{ key }}: {{ value|intcomma }}</li>
                {% endfor %}
            </ul>
        </div>
        <h2 class="subtitles center-row">Currently Streaming This Game</h2>
        <div class="gcard_container">
            {% for stream in streams %}
                <div class="gcard">
                    <h3>{{ stream.user_name }}</h3>
                    <img src="{{ stream.thumbnail_url }}" alt="">
                    <p><strong>{{ stream.title | truncatechars:50 }}</strong></p>
                    <p>Viewers: {{ stream.viewer_count|intcomma }}</p>
                    <p>Started at: {{ stream.started_at }}</p>
                    <a href="{{ stream.url }}" target="_blank">Watch Stream</a>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>Currently not being Live Streamed.</p>
        {% endif %}

    </div>
</section>


{% endblock content %}