{% extends 'base.html' %}
{% load static %}

{% block title %} {{ streamer.user_name }}{% endblock title %}

{% block content %}
<section class="streamer-section">
    <div class="picnameandlink">
        <div class="streamerpic">
            <img src="{{ streamer.thumbnail_url }}" alt="{{ streamer.user_name }}">
        </div>
        <div class="nameandlink">
            <h1>
                {{ streamer.user_name }}
                <span class="star-icon {% if is_favorited %}active{% endif %}" data-stream-id="{{ streamer.id }}">★</span>
            </h1>
            <h2 class="subtitles">Streaming: {{ streamer.game_name }}</h2>
            <a href="https://www.twitch.tv/{{ streamer.user_login }}" target="_blank">Watch {{ streamer.user_name }} on Twitch</a>
        </div>
    </div>
    <div class="pdata center-row">
            <h2 class="subtitles">
                Past 30 day Activity
                <span class="info-from-icon"><a href="https://www.twitchtracker.com/{{ streamer.user_login }}" target="_blank">
                    ⓘ
                    <span class="info-from-text">Data sourced from TwitchTracker.com</span>
                </a>
                </span>
            </h2>
            <ul>
                {% for key, value in updated_pdata.items %}
                <li class="text-label">{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    <h2 class="subtitles center-row">Past Streams</h2>
    <div class="scard_container">
        {% for video in videos_data %}
                <div class="scard">
                    <a href="{{ video.url }}" target="_blank">
                        <img src="{{ video.thumbnail_url }}" alt="VOD Still Proccessing">
                        <p><strong>{{ video.title | truncatechars:50 }} ({{ video.duration }})</strong></p>
                    </a>
                </div>
            {% endfor %}
    </div>

</section>


{% endblock content %}