
/* Header */
header {
    top: 0px;
    height: 100px;
    background: linear-gradient(to bottom, var(--primary-color), var(--background-color));
    color: var(--secondary-color);
    display: flex;
    position: sticky;
}

.header_left {
    width: 30%;
}
.header_left h2{
    margin-bottom: 0px;
    margin-left: .5rem;
}

.header_right {
    width: 70%;
}
.header_right input, .hamburger{
    display: none;
}

.nav-options {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 1.5rem;
    align-items: flex-start;
}

.nav-options a, .nav-options form {
    color: #FFFFFF;
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 2% 1%;
    padding: 14px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #0a0a0a;
    align-items: flex-start;
}

.nav-options form button {
    all: unset; /* Wanted to make sure the button didn't have extra styling */
    cursor:pointer; /* Still needs to act like a button though */
}

.nav-options a:hover, .nav-options form:hover {
    border-bottom: solid 5px black;
}

.hamburger:hover {
    border-radius: 2px;
    box-shadow: 2px 2px 2px #0a0a0a;
    background-color: #4a5a5a;
    color: #FFFFFF;
}