{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sections.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="header_left">
            <a href="{% url 'root' %}">
                <h2 class="subtitles">Derrick's Twitch Trender Watcher</h2>
            </a>
        </div>

        <nav class="header_right">
            <!-- Hamburger button -->
            <input type="checkbox" id="nav-burger">
            <label for="nav-burger" class="hamburger">&#9776;</label>
            <div class="nav-options">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}">Your Profile</a>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
                
            </div>

        </nav>

    </header>


    {% block content %}
    {% endblock content %}


    <footer class="footer">
        <h3>DTTW  ©  2025</h3>
    </footer>

    <!-- csrf token -->
     <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- JS Scripts -->
    <script src="{% static 'js/favorites.js' %}"></script>
</body>
</html>