{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="navbar">
        <div class="header_left">
            <a href="{% url 'root' %}">
                <h2 class="home_logo">Twitch Trenders</h2>
            </a>
        </div>
        <div class="header_right">
            <a href="">Games</a>
            <a href="">Streamers</a>
            <a href="">Login</a>
        </div>

    </header>

    {% block content %}

    {% endblock content %}

    <footer class="footer">
        <h3>TTV + copyright logo + 2025</h3>
    </footer>
</body>
</html>